@{
    ViewData["Title"] = "Home Page";
}

<section class="home">
    <div class="container">
        <div class="col">
            <h2>Loren ipsum dolor tøj</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <p>Mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Varius duis at consectetur lorem donec massa.
                In iaculis nunc sed augue lacus viverra vitae congue.</p>
            <div class="image"></div>
        </div>
        <div class="col">
            <div class="image"></div>
            <h2>FOR HENDE</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <p>Mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Varius duis at consectetur lorem donec massa.
                In iaculis nunc sed augue lacus viverra vitae congue.</p>
            <div class="cta-button">SE UDVALG</div>
        </div>
        <div class="col">
            <div class="image"></div>
            <h2>FOR HAM</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <p>Mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Varius duis at consectetur lorem donec massa.
                In iaculis nunc sed augue lacus viverra vitae congue.</p>
            <div class="cta-button">SE UDVALG</div>
        </div>
        <div class="col">
            <div class="image"></div>
            <h2>FOR BØRN</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <p>Mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Varius duis at consectetur lorem donec massa.
                In iaculis nunc sed augue lacus viverra vitae congue.</p>
            <div class="cta-button">SE UDVALG</div>
        </div>
    </div>
</section>
